
<!-- navigation.html contents -->{% assign links = site.data.menu %}
<span class="navbar-toggle" id="js-navbar-toggle">
  <i class="fas fa-bars"></i>
</span>{% for link in links %}{% if link.name == "Inicio" %}
<a class="logo" href="{{ link.url }}">
  <img src="/assets/images/barco.png">
</a>
<ul class="main-nav" id="js-menu">{% else %}
  {% if page.url == link.url %}
    <li><a class="sample-activo" href="{{link.url}}">{{link.name}}</a></li>
  {% else %}
    <li><a class="sample" href="{{link.url}}">{{link.name}}</a></li>
    {% endif %}{% endif %}{% endfor %}
</ul>
