@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;


// Añadido por mi.

* {
    box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(https://fonts.googleapis.com/css?family=Roboto);
}

@font-face {
  font-family: 'Alegreya', sans-serif;
  src: url(https://fonts.googleapis.com/css?family=Alegreya);
}

// Hamburguesa posicionada en la esquina superior izquierda.
.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
}

// Hamburguesa no visible por defecto
.site-nav .icon {
    display: none;
}

// Listado menu.
.main-nav {
    width: 80%;
    list-style-type: none;
    display: none;
}
.active {
  display: block;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}


@media screen and (min-width: 768px) {

    .site-nav {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        flex-direction: row;
        padding-top: 95px;
        justify-content: space-between;
    }

    .main-nav li {
        margin: 0px;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 25px;
    }

   .navbar-toggle {
       display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
}
//---------------------


.sample{
   font-family: 'Alegreya';
   color: black;
   font-size: 22px;

   &:visited {
     color: black;
   }

   &:hover {
     color: black;
     text-decoration: underline;
     //border-bottom: 3px solid;
   }
}

.texto-footer{
   font-family: 'Alegreya';
   color: black;
   font-size: 16px;
}
.p-name{
   font-size: 11.4px;
}
.u-email{
   //font-family: 'Alegreya';
   //color: black;
   font-size: 13px;
}


// Flechas sección bloques. Alinear la flecha y el texto.
.align_right {
   float:right; clear:right;
   margin-right:15%;
 }
 .align_right_bottom{
   float:right; clear:right;
 }

 .align_left {
    float:left; clear:left;
    margin-left:15%;
  }
  .align_left_bottom{
    float:left; clear:left;
  }

// Voltear la imagen de la flecha para usar una sola imagen
.flip{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.div-invisible{
  display:none;
  cursor: pointer;
}
.div-visible{
  display:block;
  cursor: pointer;
  padding-top:12px;
  padding-left:30px;
}


//label.div-visible input[type=checkbox]{
//}


//slideshow
.pics img
{
  display: none;
  width: 100%;
}
#slideshow img {
  display: none;
  width: 100%;
  //height: auto;
}

#slideshow{
  display:none;
  position: relative;
  top:30px;
}


// Formulario
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=tel], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

hr {
  display:block;
  border:0px;
  height:10px;
  background-image:url('/assets/images/separador.png');
  width: 100%;
}

// Centrar bloques programa
#centrarTexto {
    margin:auto;
    width:60%;
    text-align:left;
    padding: 10px;
}

#right {
    float:right;
    width:70%;
}

// Tamaño anchors programa.

.nostyle {
    font-size: 20px;
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.dates-inscription{
  font-size:15px;
  float:right;
}

.boton{
  width: 110px;
  font-size:14px;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  float:right;
}

// Inscripción cajas para el acordeón

details {
  width: 100%;
  min-height: 5px;
  max-width: 700px;
  padding: 45px 70px 45px 45px;
  margin: 0 auto;
  position: relative;
  font-size: 18px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 15px;
  box-sizing: border-box;
  transition: all .3s;
}

details + details {
  margin-top: 20px;
}

details[open] {
  min-height: 50px;
  background-color: #f6f7f8;
  box-shadow: 2px 2px 20px rgba(0,0,0,.2);
}

details p {
  //color: #96999d;
  //font-weight: 200;
  font-size: 16px;
}

summary {
  font-weight: 500;
  cursor: pointer;
}

summary:focus {
  outline: none;
}

summary::-webkit-details-marker {
  display: none
}

summary::after {
  padding-top: 25px;
  padding-right: 20px;
  position: absolute;
  top: 0%;
  right: 0;
  color: black;
  font-family: "Font Awesome 5 Free";
  font-size: 16px;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-weight: 900;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f078";
  transform: translateY(50%);
  transition: .3s ease;
}

details[open] summary::after {
  content: "\f057";
  font-size: 16px;
}
